@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

body{
    background: url(media/skrt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    width: 40%;
}

h2{
    font-size: 1.1em;
}

h1{
    color: white;
    text-align: center;
    font-size: 42px;
    padding-top: 250px;
    margin-top: 0;
}

#my_portrait_img{
    width: 200px;
    text-align: center;
    border: 5px solid black;
}

#portrait_img{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 5px solid black;
}

#landscape{
    width: 300px;
    height: 160px;
}

#main{
    float: left;
    width: 100%;
    height: 650px;
}

#secondsection{
    position: relative;
    top: 500px;
    float: left;
    height: 500px;
}

#DungeonImage, #ListImage, #SpaceImage, #MonsterImage{
    float: left;
    width = 50%;
}

#DungeonText, #ListText, #SpaceText, #MonsterText{
    float: left;
    padding-left: 10px;
    padding-bottom: 50px;
    text-align: left;
    width:  90%;
}

#mainButton{
    text-decoration: none;
    background-color: orange;
    width: 100px;
    display: inline-block;
    padding: 5px 10px;
}

#expandbutton{
        text-decoration: none;
    background-color: orange;
    width: 60px;
    display: inline-block;
    padding: 5px 10px;
}
