@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

header, footer, article, aside{
    border: 1px solid black;
}

html{
    
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

h2{
    font-size: 1.1em;
}

#container{
    width: 900px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 15px;
}

header{
    border: 4px solid black;
}

header h1{
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 0;
}

#portrait_img{
    width: 200px;
    text-align: center;
    border: 5px solid black;
}

aside{
    float: left;
    width: 37%;
    padding: 1em 1em 0em 1em;
    height: 650px;
    margin-bottom: 1em;
}

article{
    float: right;
    width: 52%;
    height: 500px;
    padding: 1em 1em 0em 1em;
    margin-bottom: 1em;
    overflow: auto;
}

footer{
    text-align: center;
    clear: both;
}
